/*
Theme Name: Bizberg Consulting Dark
Template: bizberg
Text Domain: bizberg-consulting-dark
Author: Cyclone Themes
Author URI: https://cyclonethemes.com/
Theme URI: https://bizbergthemes.com/downloads/bizberg-consulting-dark/
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Description: Bizberg Consulting Dark is a free Consulting WordPress theme oriented to consulting, business and financial services. It is perfect platform to create a professional website for business consultant, accountants, investment firms, insurance, tax advisor, startups, financial advisor, marketing and any other consultancy corporations. This is a versatile, tech-savvy and responsive multipurpose website theme that is developed to satisfy all business needs. This theme can also be used for corporate, business, personal blog, law firm, banking, ecommerce, fashion blog, yoga, charity, gym, travel, news, education, transport and any other general business needs. This theme is the perfect and reliable toolkit for crafting impressive websites to grow your online business. This Free WordPress theme is fully responsive, cross-browser compatible, translation ready & SEO friendly. If you run into any problem while using our theme, you can refer to extensive documentation or contact our friendly support team. It fully supports Elementor, all the sections are made from Elementor.
Tags: custom-logo,custom-menu,featured-images,threaded-comments,translation-ready,left-sidebar,right-sidebar,grid-layout,theme-options,blog,news,portfolio
Version: 0.3
Requires at least: 4.9
Tested up to: 5.3
*/

.consulting-post{
	position: relative;
	overflow: hidden;
}

.consulting-post .mb-3{
	margin-bottom: 30px;
}

.consulting-post-item{
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom, #dd3333, #5d0606);
	transition: all ease-in-out 0.5s;
	height: 310px;
}

.consulting-post-item:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    content: '';
    z-index: 1;
    transition: all ease-in-out 0.7s;
    transform: scale3d(7.9, 6.4, 0) rotate3d(0, 0, 1, 45deg) translate3d(0, -70%, 0);
}

.consulting-post-item:hover:before {
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0);
    transition: all ease-in-out 0.7s;
}

.consulting-post-bg{
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
    background-position: center;
}

.consulting-post-item img{
	width: 100%;
	transition: all ease-in-out 0.5s;
}

.consulting-post-item:hover img{
	transform: scale(1.1);
	transition: all ease-in-out 0.5s;
} 

.consulting-post-cats a {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 14px;
    background: #de3434;
    padding: 2px 16px 3px;
    transition: all ease-in-out 0.5s;
    z-index: 2;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

.consulting-post-cats a:hover{
    color: #fff !important;
}

.consulting-post-item:hover .consulting-post-cats a{
	background: #dd3333;
	color: #fff;
	transition: all ease-in-out 0.5s;
}

.consulting-post-content{
	position: absolute;
    left: 0;
    bottom:0;
    z-index: 1;
    padding:20px;
}

.consulting-post-list li {
    display: inline-block;
    padding-right: 10px;
}

.consulting-post-list li:last-child{
	padding-right:0; 
}

.featured_posts_wrapper .section-heading-wrapper {
    margin-bottom: 50px;
}

.featured_posts_wrapper .section-heading-wrapper .section-title-wrapper{
    margin-bottom: 10px;
}

.consulting-post-content a:hover{
    color: #fff !important;
}

.consulting-post-cats a:focus,
.consulting-post-content a:focus {
    color: #fff !important;
    outline-color: #fff !important;
}

.entry-date a:focus,
.entry-title a:focus,
.entry-meta a:focus,
#sidebar a:focus {
    color: #dd3333 !important;
}

.entry-date a:focus:after{
    border-color: #dd3333 !important;
}

.nav-links a:focus{
    border-color: #dd3333 !important;
    background: #dd3333 !important;
}

.footer_social_links a:focus i{
    background: #dd3333 !important;
    color: #fff !important;
}

#footer .inline-menu a:focus,
#footer .copyright a:focus {
    outline-color: #fff !important;
}

.tagcloud.tags a:focus{
    background: #dd3333 !important;
    color: #fff !important;
}

.navigation.post-navigation a:focus{
    border-color: #dd3333 !important;
    color: #dd3333 !important;
    background: transparent !important;
}

.footer_social_links {
    display: block;
}

.edit_repy_links a{
    color: #fff !important;
}

#comments a:focus code{
    color: #fff;
}